.welcome {
  color: red;
}
.question {
  color: white;
  padding: 20px;
}
.Question {
  background-color: rgb(63, 81, 181);
  border-radius: 10px;
}
.answer {
  padding: 10px;
}
.selection {
  color: white;
  padding: 10px;
}
.correctAnswer {
  color: white;
  background: white;
  border-radius: 10px;
}
.incorrectAnswer {
  color: white;
  border-radius: 10px;
}
body {
  margin: 0;
}

.navTitle {
  flex-grow: 1;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.loginSuccess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.navUserName {
  margin-right: 20px;
}

.homeTitle {
  text-align: center;
}

.profileName {
  text-align: center;
}
.profileAvatar {
  text-align: center;
}
.profileStats {
  text-align: center;
}
