.welcome {
  color: red;
}
.question {
  color: blue;
}
.answer {
  color: purple;
  color: white;
  padding: 20px;
}
.Question {
  background-color: rgb(63, 81, 181);
  border-radius: 10px;
}
.answer {
  padding: 10px;
}
.selection {
  color: white;
  padding: 10px;
}
.correctAnswer {
  color: white;
  background: white;
  border-radius: 10px;
}
.incorrectAnswer {
  color: white;
  border-radius: 10px;
}
body {
  margin: 0;
}

.navTitle {
  flex-grow: 1;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.loginSuccess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.navUserName {
  margin-right: 20px;
}

.homeTitle {
  text-align: center;
}

.profileName {
  text-align: center;
}
.profileAvatar {
  text-align: center;
}
.profileStats {
  text-align: center;
}
.overlayBox {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3f51b5;
}
.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayBox:hover .overlay {
  opacity: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
