.welcome {
  color: rgb(63, 81, 181);
}
.question {
  color: white;
  padding: 10px;
}
.answer {
  color: white;
  padding: 20px;
}
.Question {
  background-color: rgb(63, 81, 181);
  border-radius: 10px;
}
.answer {
  padding: 10px;
}
.selection {
  color: white;
  padding: 10px;
}
.gameMode {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  text-align: center;
}
.correctAnswer {
  color: white;
  background: white;
  border-radius: 10px;
}
.incorrectAnswer {
  color: white;
  border-radius: 10px;
}
body {
  margin: 0;
}

.navTitle {
  flex-grow: 1;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.loginSuccess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.navUserName {
  margin-right: 20px;
}

.homeTitle {
  text-align: center;
}

.profileName {
  text-align: center;
}
.profileAvatar {
  text-align: center;
}
.profileStats {
  text-align: center;
}
.overlayBox {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3f51b5;
}
.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayBox:hover .overlay {
  opacity: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px 0px;
}
.warning {
  color: red;
}
.playAgainButton {
  padding: 10px;
}
.restartButton {
  padding: 10px;
}
.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
}

.gameButton {
  border: none;
  border-radius: 10px;
  background-color: #3f51b5;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.gameSelection {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leaderboardTitle {
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc, 2px 2px 2px rgba(206, 89, 55, 0);
  color: #444444;
  background: #ffffff;
}

.leaderboardLinks {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.fireAvatar {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}
