.welcome {
  color: rgb(63, 81, 181);
}
.question {
  color: white;
  padding: 10px;
}
.answer {
  color: white;
  padding: 20px;
}
.Question {
  background-color: rgb(63, 81, 181);
  border-radius: 10px;
}
.answer {
  padding: 10px;
}
.selection {
  color: white;
  padding: 10px;
}
.correctAnswer {
  color: white;
  background: white;
  border-radius: 10px;
}
.incorrectAnswer {
  color: white;
  border-radius: 10px;
}
body {
  margin: 0;
}

.navTitle {
  flex-grow: 1;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.loginSuccess {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.navUserName {
  margin-right: 20px;
}

.homeTitle {
  text-align: center;
}

.profileName {
  text-align: center;
}
.profileAvatar {
  text-align: center;
}
.profileStats {
  text-align: center;
}
.overlayBox {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #3f51b5;
}
.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlayBox:hover .overlay {
  opacity: 1;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.leaderboardTitle {
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(206,89,55,0);
  color: #444444;
  background: #FFFFFF;
}

.leaderboardLinks {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
}
